/* Шрифты */
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}

/* Переменные */
:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background: #eeeeee;

  --color-gray-text: #283136;
  --color-gray-social: #4d4d4d;
  --color-gray-adress: #666666;

  --color-sliderdot: #c1c1c1;
  --color-social-link: #e1e1e1;

  --color-card-red: #fb565a;
  --color-card-green: #00ca74;
  --color-card-yellow: #efc849;
}

/* Глобальные стили */
a {
  text-decoration: none;

  color: var(--color-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, Arial, sans-serif;
  color: var(--color-black);
  text-transform: uppercase;
}

/* Стили */
/*----------header----------*/
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);
}
.main-header__container {
  min-width: 1160px;
  padding-top: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo {
  width: 160px;
  height: 66px;
}
.main-header__logo:active {
  opacity: 0.3;
}
.main-header__logo-svg {
}

.site-nav {
  margin: 0;
  padding: 0;

  padding-top: 20px;
}
.site-nav__list {
  margin: 0;
  padding: 0;

  display: flex;
}
.site-nav__item {
  padding: 0px 24px 0px 24px;
}
.site-nav__link {
}
.site-nav__link:hover,
:focus {
  color: var(--color-card-red);
}
.site-nav__link:active {
  color: var(--color-black);
  opacity: 0.3;
  transition: 0.2s;
}

.user-nav {
  padding-top: 20px;
}
.user-nav__link {
  margin-left: 40px;
  position: relative;
}
.user-nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url(../src/svg/icons/cart-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.user-nav__link:hover,
:focus {
  color: var(--color-card-red);
}
.user-nav__link:active {
  color: var(--color-black);
  opacity: 0.3;
  transition: 0.2s;
}

/*----------slider----------*/
.main-slider {
  background-color: var(--color-background);
  min-height: 430px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main-slider__container {
  max-width: 1160px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider__left {
}
.main-slider__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
}
.main-slider__description {
  margin-top: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.main-slider__button {
  margin-top: 38px;
  padding: 16px 54px 16px 54px;
  background-color: #fb565a;
  border-radius: 3px;

  display: inline-block;

  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}
.main-slider__img {
  width: 760px;
  height: 430px;
}
/*----------mainservices----------*/

/*----------about----------*/

/*----------links----------*/

/*----------adress----------*/

/*----------footer----------*/
