/* Шрифты */
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

/* Переменные */
:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background: #eeeeee;

  --color-gray-text: #283136;
  --color-gray-social: #4d4d4d;
  --color-gray-adress: #666666;

  --color-sliderdot: #c1c1c1;
  --color-social-link: #e1e1e1;

  --color-card-red: #fb565a;
  --color-card-green: #00ca74;
  --color-card-yellow: #efc849;
}

/* Глобальные стили */
a {
  text-decoration: none;

  color: var(--color-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, Arial, sans-serif;
  color: var(--color-black);
}

.container {
  width: 1160px;
  max-width: auto;
}

.button {
  font-family: Roboto, Arial, sans-serif;
}
.button:hover,
.button:focus {
  filter: brightness(0.8);
}
.button:active {
  filter: brightness(0.5);
  transition: 0.2s;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* Стили */
/*----------header----------*/
.main-header {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: var(--color-background);

  text-transform: uppercase;
}
.main-header__container {
  width: 1160px;
  margin: auto;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo {
  width: 160px;
  height: 66px;
}
.main-header__logo:active {
  opacity: 0.3;
}
.main-header__logo-svg {
  width: 160px;
  height: 66px;
}

.site-nav {
  margin: 0;
  padding: 0;

  padding-top: 20px;
}
.site-nav__list {
  margin: 0;
  padding: 0;

  display: flex;
}
.site-nav__item {
  padding: 0px 24px 0px 24px;
}
.site-nav__link {
  /* main nav links */
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--color-card-red);
}
.site-nav__link:active {
  color: var(--color-black);
  opacity: 0.3;
  transition: 0.2s;
}

.user-nav {
  padding-top: 20px;
}
.user-nav__link {
  margin-left: 40px;
  position: relative;
}
.user-nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url(../src/svg/icons/cart-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.user-nav__link:hover,
.user-nav__link:focus {
  color: var(--color-card-red);
}

.user-nav__link:active {
  color: var(--color-black);
  opacity: 0.3;
  transition: 0.2s;
}

/*----------slider----------*/
.main-slider {
  background-color: var(--color-background);

  display: flex;
  justify-content: center;
  align-items: center;
}
.main-slider__container {
  width: 1160px;
  max-width: auto;
}
.main-slide__wrapper {
  padding-top: 78px;
  padding-bottom: 80px;
}
.main-slide__wrapper.slider1 {
  background-image: url(../src/img/nerds-index-slide1\ 1.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.main-slide__wrapper.slider2 {
  background-image: url(../src/img/nerds-index-slide2\ 1.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.main-slide__wrapper.slider3 {
  background-image: url(../src/img/nerds-index-slide3\ 1.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.swiper-pagination-bullet {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-white);
  opacity: 1;

  bottom: 80px;
}
.slider .swiper-pagination-bullet:not(:last-child) {
  margin-right: 13px;
}
.swiper-pagination-bullet-active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--color-background);
  position: absolute;
  top: 5px;
  left: 5px;
}
.main-slider__left {
  width: 700px;
}

.main-slider__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.main-slider__description {
  margin-top: 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--color-gray-text);
}
.main-slider__button {
  margin-top: 38px;
  padding: 17px 54px 15px 54px;
  background-color: var(--color-card-red);
  border-radius: 3px;

  display: inline-block;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-white);
}
.main-slider__img {
  width: 760px;
  height: 430px;
}
/*----------mainservices----------*/
.main-service {
  display: flex;
  justify-content: center;
}
.main-service__container {
  margin-top: 80px;
  min-width: 1160px;
  display: flex;
  justify-content: space-between;

  padding-bottom: 80px;
  border-bottom: 2px solid var(--color-background);
}
.service-card {
  max-width: 300px;
}
.service-card__img {
  width: 300px;
  height: 146px;
}
.service-card__title {
  margin-top: 25px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.service-card__description {
  margin-top: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--color-gray-text);
}
.service-card__button {
  margin-top: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-white);

  display: inline-block;
  padding: 17px 40px 15px 40px;
  border-radius: 3px;
}
.service-card__button.red {
  background-color: var(--color-card-red);
}
.service-card__button.green {
  background-color: var(--color-card-green);
}
.service-card__button.yellow {
  background-color: var(--color-card-yellow);
}
/*----------about----------*/
.main-about {
  display: flex;
  justify-content: center;
}
.main-about__container {
  width: 1160px;
  display: flex;
  justify-content: space-between;

  padding-bottom: 80px;
  border-bottom: 2px solid var(--color-background);
}
.main-about__left {
  padding-top: 74px;
}
.main-about__tagline {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.main-about__text {
  margin-top: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.main-about__list-name {
  margin-top: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.main-about__list {
  margin-top: 24px;
}
.about-list__item {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.about-list__item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-card-red);

  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.main-about__right {
  padding-top: 40px;
}
.main-about__img {
  width: 360px;
  height: 208px;
}
.main-about__table-name {
  margin-top: 38px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.main-about__table {
  width: 360px;
  margin-top: 30px;

  border-collapse: collapse;
}
.about-table__row {
}
.about-table__cell {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 33%;
}
.about-table__cell.table_number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding-bottom: 10px;
}
.table_number--decoration {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}
/*----------partners----------*/
.main-partners {
  display: flex;
  justify-content: center;
}
.main-partners__container {
  margin-top: 46px;

  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 44px;
  border-bottom: 2px solid var(--color-background);
}
.main-partners__item {
  padding: 0px 46px 0px 46px;
}
.main-partners__link {
  opacity: 0.2;
}
.main-partners__link:hover,
.main-partners__link:focus {
  opacity: 1;
}
.main-partners__link:active {
  opacity: 0.1;
  transition: 0.2s;
}
.main-partners__link-img {
}
.main-partners__decorative {
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--color-background);
}
/*----------adress----------*/
.main-adress {
  padding-bottom: 44px;
  display: flex;
  justify-content: center;

  position: relative;

  background-image: url(../src/img/map\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-adress__container {
  width: 1160px;
}
.main-adress__adress-box {
  margin-top: 64px;

  background-color: var(--color-white);
  max-width: 220px;
  padding: 50px;
}
.adress-box__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.adress-box__adress {
  margin-top: 23px;

  font-weight: 400px;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-gray-adress);
}
.adress-box__button {
  margin-top: 37px;

  display: inline-block;
  padding: 17px 44px 15px 44px;
  background-color: var(--color-card-red);
  border-radius: 3px;

  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

/*----------footer----------*/
.main-footer {
  display: flex;
  justify-content: center;
}
.main-footer__container {
  padding-top: 68px;
  margin-bottom: 68px;

  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer__social {
  display: flex;
  width: 25%;
}
.footer-social__item {
  margin-right: 9px;
}
.footer-social__link {
  width: 81px;
  height: 81px;
  border-radius: 40px;
  display: flex;
  background-color: var(--color-social-link);
  align-items: center;
  justify-content: center;
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #e74246;
}
.footer-social__link:active {
  filter: brightness(0.8);
  transition: 0.2s;

  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.footer-social__item-img {
}
.main-footer__tagline {
  width: 65%;
}
.main-footer__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.main-footer__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-gray-social);
}
